

$base-size: 10;
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

  $breakpoints: (
    "phone":        320px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
@function lightness-shift($colour){
    @if ( lightness($colour) < 25% ) {
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
  }
//--------------------------------------------------------------ALL

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.col-sm-4 a{
    color: #fafafa!important;
}
ul{
    list-style-type: none;
}
.center-block{
    border-radius:60em ;
    width: 100px;
    height: 100px;
}
.et-icon{
    font-family: et-line;
    speak: auto;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.et-icon-browser:before {
    content: url("../img/svg/browser.svg");
}
.et-icon-edit:before {
    content: url("../img/svg/edit.svg");
}.et-icon-presentation:before {
    content: url("../img/svg/presentation.svg");
}
.fa-twitter:before{
    content: url("../img/svg/twitter-brands.svg");
}
.fa-facebook:before{
    content: url("../img/svg/facebook-f-brands.svg");
}
.fa-dribbble:before{
    content: url("../img/svg/dribbble-brands.svg");
}
.fa-instagram:before{
    content: url("../img/svg/instagram-brands.svg");
}
.title, .citation{
    font-size: size(21.8);
}
.title{
    margin-bottom: 1em;
}
span.title{
    margin-bottom: 2em;
}
.citation{
    font-style: italic;
    line-height: normal;
    font-weight: 500;
}
.smaller{
    font-style: normal;
    font-size: size(14);
    display:block;
}
a, button {
    transition: all .3s ease-in-out;
    outline: none!important;
    &:hover{
        text-decoration: none;
        cursor: pointer;
    }
}
#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background:lightness-shift(#FFFFFF) no-repeat center center;
}
.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    &.container {
        padding-left: 0;
        padding-right: 0;
    }
    &-lg{
        padding: 100px 50px;
    }
    &-md{
        padding: 50px;
    }
    &-sm{
        padding: 20px 50px;
    }
}
.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}
.bg-repeat {
    background: repeat;
}

.bg-t-edge {
    background: top no-repeat;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.b-parallax {
    background-attachment: fixed;
}
.d-bloc {
    color: rgba(255, 255, 255, .7);

    & button:hover {
        color: rgba(255, 255, 255, .9);
    }
    & .icon-round,
    & .icon-round,
    & .icon-square,
    & .icon-rounded,
    & .icon-semi-rounded-a,
    & .icon-semi-rounded-b {
        border-color: rgba(255, 255, 255, .9);
    }
    & .divider-h span{
        border-color: rgba(255, 255, 255, .2);
    }
    & .a-btn,
    & .navbar a,
    & .navbar-brand,
    & a .icon-sm,
    & a .icon-md,
    & a .icon-lg,
    & a .icon-xl,
    & h1 a,
    & h2 a,
    & h3 a,
    & h4 a,
    & h5 a,
    & h6 a,
    & p a {
        color: lightness-shift(rgba(255, 255, 255, .6));
    }
    & .a-btn:hover,
    & .navbar a:hover,
    & .navbar-brand:hover,
    & a:hover .icon-sm,
    & a:hover .icon-md,
    & a:hover .icon-lg,
    & a:hover .icon-xl,
    & h1 a:hover,
    & h2 a:hover,
    & h3 a:hover,
    & h4 a:hover,
    & h5 a:hover,
    & h6 a:hover,
    & p a:hover {
        color: rgba(255, 255, 255, 1);
    }
    & .navbar-toggle .icon-bar {
        background: rgba(255, 255, 255, 1);
    }
    & .btn-wire,
    & .btn-wire:hover {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }
    & .panel{
        color: rgba(0, 0, 0, .5);
    }
    & .panel button:hover{
        color: rgba(0, 0, 0, .7);
    }
    & .panel icon{
        border-color: rgba(0, 0, 0, .7);
    }
    & .panel .divider-h span{
        border-color: rgba(0, 0, 0, .1);
    }
    & .panel .a-btn{
        color: rgba(0, 0, 0, .6);
    }
    & .panel .a-btn:hover{
        color: rgba(0, 0, 0, 1);
    }
    & .panel .btn-wire,
    & .panel .btn-wire:hover{
        color: rgba(0, 0, 0, .7);
        border-color: rgba(0, 0, 0, .3);
    }
    & .panel, 
    .l-bloc{
        color: rgba(0, 0, 0, .5);
    }
    .d-bloc .panel button:hover,
    .l-bloc button:hover{
        color: rgba(0, 0, 0, .7);
    }
}
.l-bloc{
    & .icon-round,
    & .icon-square,
    & .icon-rounded,
    & .icon-semi-rounded-a,
    & .icon-semi-rounded-b{
        border-color: rgba(0, 0, 0, .7);
    }
    .d-bloc .panel .divider-h span,
    & .divider-h span{
        border-color: rgba(0, 0, 0, .1);
    }
    .d-bloc .panel .a-btn,
    & .a-btn,
    & .navbar a,
    & .navbar-brand,
    & a .icon-sm,
    & a .icon-md,
    & a .icon-lg,
    & a .icon-xl,
    & h1 a,
    & h2 a,
    & h3 a,
    & h4 a,
    & h5 a,
    & h6 a,
    & p a {
        color: rgba(0, 0, 0, .6);
    }
    .d-bloc .panel .a-btn:hover,
    & .a-btn:hover,
    & .navbar a:hover,
    & .navbar-brand:hover,
    & a:hover .icon-sm,
    & a:hover .icon-md,
    & a:hover .icon-lg,
    & a:hover .icon-xl,
    & h1 a:hover,
    & h2 a:hover,
    & h3 a:hover,
    & h4 a:hover,
    & h5 a:hover,
    & h6 a:hover,
    & p a:hover{
        color: rgba(0, 0, 0, 1);
    }
    & .navbar-toggle .icon-bar{
        color: rgba(0, 0, 0, .6);
    }
    .d-bloc .panel .btn-wire,
    .d-bloc .panel .btn-wire:hover,
    & .btn-wire,
    & .btn-wire:hover{
        color: rgba(0, 0, 0, .7);
        border-color: rgba(0, 0, 0, .3);
    } 
}
.voffset {
    margin-top: 30px;
    &-lg {
        margin-top: 80px;
    }
}
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
    .row & > [class^="col-"],
    .row & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    }
}
#bloc-1-hero h1 {
    font-size: (32);
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
    &-brand{
        height: auto;
        padding: 3px 15px;
        font-size: (25);
        font-weight: normal;
        font-weight: 600;
        line-height: 44px;
    }
    &-brand img{

    }
    &-brand img[src$=svg] {
        min-width: 100px;
    }
    
    .nav-center &-brand img {
        margin: 0;
    }
    
    & .nav {
        padding-top: 2px;
        margin-right: -16px;
        float: right;
        z-index: 1;
    }
    &-nav .open .dropdown-menu > li > a {
        text-align: inherit;
    }
    &-toggle {
        margin: 10px 10px 0 0;
        border: 0px;
    }
    &-toggle:hover {
        background: transparent!important;
    }
    &-toggle .icon-bar {
        background-color: rgba(0, 0, 0, .5);
        width: 26px;
    }
    .nav-invert & .nav {
        float: left;
    }
    .nav-invert &-header,
    .nav-invert &-brand {
    float: right;
    position: relative;
    z-index: 2;
    }
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: size(16);
    & a:hover,
    & a:focus {
    background: transparent;
    }
}
.nav > li > .dropdown a {
    background: none!important;
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}
.dropdown-menu {
    & &{
        top: -8px;
        left: 100%;
    }
    & .dropmenu-flow-right {
        top: 100%;
        left: 0;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    & .dropdown span {
        border: 4px solid black;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        margin: 6px -5px 0 0!important;
        float: right;
    }
    
}
.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
    
}
span.mg-md.text-center{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #333333;
    font-weight: 700;
}
.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}
.btn {
    margin: 0 5px 5px 0;
    &.pull-right {
        margin: 0 0 5px 5px;
    }
    
    &-d,
    &-d:hover,
    &-d:focus {
        color: #FFF;
        background: rgba(0, 0, 0, .3);
    }
    
    button {
        outline: none!important;
    }
    
    &-rd {
        border-radius: 40px;
    }
    
    &-clean {
        border: 1px solid rgba(0, 0, 0, .08);
        border-bottom-color: rgba(0, 0, 0, .1);
        text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
        box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
    }
}
.icon-md {
    font-size: size(30)!important;
}

.icon-lg {
    font-size: size(60)!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
    & .panel-heading {
        border-radius: 29px 29px 0 0;
    }
    & .panel-footer {
        border-radius: 0 0 29px 29px;
    }
    
}
.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}
.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
    & span {
        margin-top: 6px;
    }
}
.showScrollTop{
    font-size: size(14);
    opacity: 1;
}
a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
    &:hover::before {
        content: "+";
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
        font-size: size(32);
        width: 50px;
        height: 50px;
        margin-left: -25px;
        border-radius: 50%;
        background: rgba(0, 0, 0, .6);
        color: #FFF;
        font-weight: 100;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    
    &:hover img {
        opacity: 0.6;
        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;
    }
}
#lightbox{
    &-modal {
        display: flex;
        align-items: center;
    }
    
    &-modal .modal-dialog {
        width: 90%;
        max-width: 900px;
        margin: 0 auto 0;
    }
    
    &-modal .modal-dialog img {
        max-height: 90vh;
        margin: 0 auto;
    }
}
    
.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}
.close-lightbox {
    color: #949494;
    font-size: size(30);
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #949494;
}

.next-lightbox,
.prev-lightbox {
    font-size: size(20);
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb{
    &.modal-body {
        padding-bottom: 45px;
    }

    & .lightbox-caption {
        padding: 0;
        color: rgba(0, 0, 0, .5);
        background: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #767676!important;
}
.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: size(38);
}

.hero-bloc-text-sub {
    font-size: size(36);
}
.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: size(20);
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}
p {
    font-size: size(11);
}
.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}
.h1 {
    font-size: size(20);
    font-family: "Open Sans";
}
.cta-hero {
    margin-top: 22px;
    color: #949494!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: size(16);
    font-weight: 700;
}
.social {
    max-width: 400px;
    margin: auto auto auto auto;
}
h2 {
    font-size: size(22);
    line-height: 1.4em;
}
h3 {
    font-size: size(15);
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
}
.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}
h1 {
    color: #333333!important;
}
h4 {
    color: #333333!important;
}
.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}
.white {
    color: lightness-shift(#FFFFFF)!important;
}

.portfolio{
    &-thumb {
        margin-bottom: 24px;
    }
    
    &-row {
        margin-bottom: 44px;
        margin-top: 50px;
    }
}
.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}
.black-background {
    background-color: lightness-shift(rgba(165, 147, 99, 0.9));
    padding: 40px 40px 40px 40px;
}
.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}
.bgc{
    &-white {
        background-color: #FFFFFF;
    }
    
    &-dark-slate-blue {
        background-color: #34495E;
    }
    
    &-atomic-tangerine {
        background-color: #d43900;
    }
}

.tc-white {
    color: lightness-shift(#FFFFFF)!important;
}

.btn-atomic-tangerine {
    background: #d43900;
    color: #FFFFFF!important;
}

.btn-atomic-tangerine:hover {
    background: #ab6543!important;
    color: #FFFFFF!important;
}

.ltc{ 
    &-white {
        color: #FFFFFF!important;
    }
    &-white:hover {
        color: #cccccc!important;
    }
    &-atomic-tangerine {
        color: #d43900!important;
    }
    &-atomic-tangerine:hover {
        color: #ab6543!important;
    }
}
.icon-dark-slate-blue {
    color: #34495E!important;
    border-color: #34495E!important;
}
.bg{
    &-banniere {
        background-image: url("../img/jpg/la-chouette-agence-banniere.jpg");
    }
    
    &-presentation {
        background-image: url("../img/jpg/image-de-presentation.jpg");
    }
}
 
@include mq('tablet'){
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {
        color: #484848;
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
        & .navbar-header {
            width: 100%;
        }
        & .navbar-header,
        & .navbar-brand,
        & .nav > li {
            float: none;
            display: inline-block;
        }
        & .site-navigation {
            position: relative;
            width: 100%;
            right: 0;
            margin-right: 0px;
            margin-top: 20px;
        }
        &.mini-nav .navbar-toggle {
            float: none;
            margin: 10px auto 0;
        }
    }
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
    .b-parallax {
        background-attachment: scroll;
    }
}

@include mq('tablet-wide'){
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
        &.full-width-bloc,
        &-tile-2.full-width-bloc .container,
        &-tile-3.full-width-bloc .container,
        &-tile-4.full-width-bloc .container {
        padding-left: 0;
        padding-right: 0;
        }
    }
    .b-parallax {
        background-attachment: scroll;
    }
    
}
@include mq('phone'){
    .mg-md .text-center, .col-sm-6{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row .row-no-gutters .social{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-evenly;
    }
    .a{
        text-decoration: underline solid;
    }
    .col-sm-4, .col-sm-6{
        display: inline-flex;
        flex-direction: column;
    }
    .text-center .intro-portfolio{
        font-size: 2.5rem;
        font-style: italic;
    }
    .col-sm-12 .fonce{
        background-color: #ffce90 ;
    }
    .col-sm-12 .claire{
        background-color: #1e0000;
    }
}
@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
        &-group,
        &-group .bloc {
            display: block;
            width: 100%;
        }
        &-fill-screen .fill-bloc-top-edge,
        &-fill-screen .fill-bloc-bottom-edge {
            padding: 0 20px;
            padding-left: constant(safe-area-inset-left);
            padding-right: constant(safe-area-inset-right);
        }
    }
    
}
@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none!important;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
        &-xxl,
        &-xl,
        &-lg {
            padding: 40px 0;
        }
        &-sm,
        &-md {
            padding-left: 0;
            padding-right: 0;
        }
        &-tile-2 .container,
        &-tile-3 .container,
        &-tile-4 .container,
        &-fill-screen .fill-bloc-top-edge,
        &-fill-screen .fill-bloc-bottom-edge {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
        &-md {
            margin-top: 20px;
        }
        &-lg {
            margin-top: 30px;
        }
    }
   
    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
        & img {
            width: 180px;
            height: 320px;
        }
    }
    
}
@media (max-width: 400px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .bloc-mob-center-text {
        text-align: center;
    }
}